@mixin bgImage($url, $color){
    background-image: linear-gradient(transparentize($color, 0.3%) 0%, $color 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@mixin headingBorder($colorTexto, $colorLinea){
    color: $colorTexto;

    &::after{
        content: '';
        height: 1rem;
        width: 100%;
        background-color: $colorLinea;
        display: block;
    }
}